body {
      background: linear-gradient(to left bottom, #ff7f73, #ffc573);
  background-size: 100% 100%;
  color: white;
  margin-left: 5%;
      }

    .h1
    {

      background-color:white;

    }
    .dropbtn {
  background-color: #8a73ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  box-shadow: 2px 2px white;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffc573;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px white;
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.dropdown-content a:hover {background-color: #ff7f73;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #8a73ff;}
  

 #myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
 font-family: verdana;
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #8a73ff;
  }
